<h1><%= room.name %></h1>

<% if(room.admins.includes(user._id)) {%>

<button id="delete-button" value="<%= room._id%>">Delete this room</button>
<%}%>

<div class="bg-white h-75">
	<div>
		<span class="p-5">Gustaf</span><span>2020-01-20</span> <br />
		<p class="mt-1 bg-danger p-2 pl-5 rounded-pill">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda magnam
			earum sequi enim recusandae. Accusamus nemo libero in? Voluptatum suscipit
			amet fugiat, laboriosam, deserunt in expedita omnis minima iure culpa
			dolorem dicta, nam quisquam cum ab consectetur eaque! Voluptatum voluptate
			quod similique saepe nisi assumenda sequi aspernatur obcaecati fuga
			quibusdam.
    </p>
	</div>

	<div class="mt-1 bg-light">
		<span>Gustaf</span><span>2020-01-20</span> <br />
		Hejsan Jag heter Gustaf
	</div>
	<div class="mt-1 bg-light">
		<span>Gustaf</span><span>2020-01-20</span> <br />
		Hejsan Jag heter Gustaf
	</div>
</div>
<form class="w-100">
	<input
		type="text"
		id="message"
		class="form-control"
		placeholder="Message..."
	/>
	<input id="send-button" type="submit" value="Send Message" class="btn btn-success" />
</form>

<script src="/scripts/chat.js"></script>
