<a class="btn btn-primary position-absolute top-0 end-0 m-3" href="/user/signin"
	>Sign In</a
>
<h1 class="position-absolute top-50 start-50 translate-middle">
	Welcome to WACK!
</h1>
<a class="btn btn-success position-absolute top-50 start-50 translate-middle mt-5 col-2" href="/user/userform">Sign Up</a>
<%- include('./partials/messages')%>
