<%- include ('./partials/messages')%>

	<div class="container col-3 border border-primary position-absolute top-50 start-50 translate-middle">
		<form action="/room/createroom">
			<fieldset>
				<legend>Add Room</legend>
				<div class="form-group">
					<label for="name">Room Name</label>
					<input autocomplete="off" name="name" class="form-control" id="room-name"
						placeholder="Enter room name" required />
					<div class="custom-control custom-switch">
						<input type="checkbox" class="custom-control-input" name="isPrivate" id="private-switch">
						<label class="custom-control-label" for="private-switch" id="private-label">Public
							Room</label>
					</div>
					<div class="form-group h-5 overflow-auto" id="user-list"></div>
				</div>
				<button type="submit" id="submit-button" class="btn btn-primary mt-2">Add room</button>
			</fieldset>
		</form>
	</div>
	<script src="/scripts/roomform.js"></script>