<div
	class="container col-3 border border-primary position-absolute top-50 start-50 translate-middle"
>
	<form method="POST" action="/user/signin">
		<fieldset>
			<legend>Sign In</legend>
			<%- include ('./partials/messages') %>
			<div class="form-group">
				<label for="email">Email</label>
				<input
					autocomplete="off"
					type="email"
					s
					name="email"
					class="form-control"
					id="email"
					aria-describedby="emailHelp"
					placeholder="Enter email"
					required
				/>
				<small id="emailHelp" class="form-text text-muted"
					>We'll never share your email with anyone else. Or?</small
				>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input
					type="password"
					name="password"
					class="form-control"
					id="password"
					placeholder="Password"
					required
				/>
			</div>
			<button type="submit" class="btn btn-primary mt-2">Sign in</button>
		</fieldset>
	</form>
</div>
